---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-4xl text-center text-red-600 mb-4 pb-1 border-b-2 border-red-300">Pagina totalmente protegida</h1>
  <div class="w-full max-w-2xl m-2 text-emerald-600">
    <p class="text-justify">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt id reprehenderit animi architecto, nemo enim dolorum molestias? Optio, assumenda eaque, excepturi facilis ducimus sequi in sed dolores officia natus doloribus.
    </p>
  </div>
</MainLayout>
