---
import { siteConfig } from "siteConfig";
---

<nav
  class="flex flex-col sm:flex-row justify-between px-4 sm:px-20 py-5 sm:py-10 items-center bg-gray-800"
>
  <h1 class="text-lg sm:text-xl text-teal-400 font-bold mb-4 sm:mb-0">
    {siteConfig.title}
  </h1>

  <div class="flex items-center">
    <ul
      class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-6"
    >
      <a href="/">
        <li
          class="font-semibold text-gray-300 hover:text-teal-300 transition-colors duration-200"
        >
          Home
        </li>
      </a>
      <a href="/signin">
        <li
          class="font-semibold text-gray-300 hover:text-teal-300 transition-colors duration-200"
        >
          Iniciar Sesión
        </li>
      </a>
      <a href="/protected">
        <li
          class="font-semibold text-gray-300 hover:text-teal-300 transition-colors duration-200"
        >
          Protegido
        </li>
      </a>
      <button
        class="flex items-center justify-center gap-1 text-white hover:text-teal-300 cursor-pointer"
        id="logout"
      >
        Salir
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="white"
          class="size-6 icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75"
          ></path>
        </svg>
      </button>
    </ul>
  </div>
</nav>

<!-- Estilos para cambiar el svg del botton de logout -->
<style>
  button:hover svg {
    stroke: #38b2ac; /* Cambia el color del icono al pasar el cursor */
  }
</style>

<script>
  import { actions } from "astro:actions";

  const logoutElement = document.querySelector("#logout") as HTMLElement;

  logoutElement?.addEventListener("click", async () => {
    await actions.logout();
    window.location.href = "/";
  });
</script>
