---
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout>
  <div class="flex justify-center self-center z-10 w-full max-w-fit">
    <div
      class="p-12 bg-white mx-auto rounded-2xl w-full max-w-md overflow-hidden"
    >
      <div class="mb-4 text-center">
        <h3 class="font-semibold text-2xl text-gray-800">Registro</h3>
        <p class="text-gray-500">Auth Astro</p>
      </div>

      <form class="space-y-5 text-black">
        <div class="flex justify-around items-center gap-2">
          <div class="space-y-2">
            <label class="text-sm font-medium text-gray-700 tracking-wide"
              >Nombre</label
            >
            <input
              class="w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
              type="text"
              placeholder="Nombre"
            />
          </div>

          <div class="space-y-2">
            <label class="text-sm font-medium text-gray-700 tracking-wide"
              >Username</label
            >
            <input
              class="w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
              type="email"
              placeholder="Nombre de usuario"
            />
          </div>
        </div>

        <div class="space-y-2">
          <label class="text-sm font-medium text-gray-700 tracking-wide"
            >Email</label
          >
          <input
            class="w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
            type="email"
            placeholder="Introdusca su gmail"
          />
        </div>

        <div class="space-y-2">
          <label class="mb-5 text-sm font-medium text-gray-700 tracking-wide"
            >Contraseña</label
          >
          <input
            class="w-full content-center text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
            type="password"
            placeholder="Introdusca su contraseña"
          />
        </div>

        <div class="space-y-2">
          <label class="mb-5 text-sm font-medium text-gray-700 tracking-wide"
            >Repetir contraseña</label
          >
          <input
            class="w-full content-center text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
            type="password"
            placeholder="Introdusca su contraseña"
          />
        </div>

        <div>
          <button
            type="submit"
            class="w-full flex justify-center bg-green-400 hover:bg-green-500 text-gray-100 p-3 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500"
          >
            Crear cuenta
          </button>
        </div>
      </form>

      <div class="pt-5 text-center text-gray-400 text-xs">
        <span>
          Copyright © 2021-{new Date().getFullYear()}
          <a
            href="https://codepen.io/uidesignhub"
            target="_blank"
            class="text-green hover:text-green-500">AJI</a
          >
        </span>
      </div>
    </div>
  </div>
</MainLayout>
